{% extends "base/base.html" %}
{% load static %}

{% block start %}
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">{{ item.product.product_name }}</a>
                                            <p class="text-muted small">
                                                {% if item.size_variant %}
                                                    Size: {{ item.size_variant.size }},
                                                {% endif %}
                                                {% if item.color_variant %}
                                                    Color: {{ item.color_variant.color }},
                                                {% endif %}
                                                Brand: {{ item.product.brand }}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'update_cart_item' item.uid %}">
                                        {% csrf_token %}
                                        <select name="quantity" class="form-control" onchange="this.form.submit()">
                                            {% for quantity_option in quantity_options %}
                                                <option value="{{ quantity_option }}" {% if quantity_option == item.quantity %}selected{% endif %}>
                                                    {{ quantity_option }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ item.get_product_price|floatformat:2 }}</var>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'remove_cart' item.uid %}" class="btn btn-light"> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                        <a href="http://127.0.0.1:8000/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{ total|floatformat:2 }}</dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static 'images/misc/payments.png' %}" height="26">
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
{% endblock %}
