{% extends "base/base.html"%}

{%  block start %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
      <div> <a href="#"><img src="/media/{{product.product_images.first.image}}"></a></div>
    </div>
    <div class="thumbs-wrap">
      {% for image in product.product_images.all %}
      <a href="#" class="item-thumb"> <img src="/media/{{image.image}}"></a>
      
      {% endfor %}

    </div>
    </article>
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product.product_name}}</h2>
    
    <div class="rating-wrap my-3">
        <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
            <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
        </ul>
        <small class="label-rating text-muted">{{product.get_review_count}} reviews</small>
        <a href="{% url 'add_review' product.uid %}" class="label-rating text-success mouse-pointer"> <i class="fa fa-clipboard-check"></i> Write a review</a>
    </div>
    
    <div class="mb-3"> 
        <var class="price h4">
          {% if updated_price %}
          {{updated_price}}
          {% else %}
          ${{product.price}}
          {% endif %}
          .00</var> 
        <span class="text-muted">/per pc</span> 
    </div>
    
    <p>{{product.product_desription}}</p>
    
    <hr>
        <div class="form-row">
          <div class="form-group col-md flex-grow-0">
              <label>Quantity</label>
              <select id="quantitySelect" name="quantity" class="form-control">
                  {% for quantity_option in quantity_options %}
                      <option value="{{ quantity_option }}">
                          {{ quantity_option }}
                      </option>
                  {% endfor %}
              </select>
          </div>
          </div>
    
          <a id="buyNowLink" href="{% url 'buy-now' product.uid %}?quantity=1" class="btn btn-primary">Buy now</a>
          <a id="addToCartLink" href="{% url 'add-to-cart' product.uid %}?quantity=1" class="btn btn-outline-primary">
              <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
          </a>
          <h2 class="title" style="margin-top: 20px;">Reviews</h2>
          <div>
            {% for review in reviews %}
                <div class="review-block">
                    <div class="review-header">
                        <i class="fa fa-user"></i> {{ review.user_profile.user.username }}
                    </div>
                    <div>
                        {{ review.review }}
                    </div>
                    <div class="review-date">
                        Reviewed on {{ review.created_at|date:"Y-m-d H:i" }}
                    </div>
                </div>
            {% endfor %}
          </div>
        </article>

        

            </main>
        </div>
    </div>
    

    </div>
</section>
<script>
  document.getElementById("quantitySelect").addEventListener("change", function() {
      var selectedQuantity = this.value;
      var buyNowLink = document.getElementById("buyNowLink");
      var addToCartLink = document.getElementById("addToCartLink");

      buyNowLink.href = "{% url 'buy-now' product.uid %}?quantity=" + selectedQuantity;
      addToCartLink.href = "{% url 'add-to-cart' product.uid %}?quantity=" + selectedQuantity;
  });
</script>
{% endblock %}